<%= form_for @artist do |f| %>

    <div class="form-group">
       <%= f.label :name %>
       <%= f.text_field :name, class: "form-control", placeholder: ". . ." %>
    </div>

    <div class="form-group">
       <%= f.label :age %>
       <%= f.text_field :age, class: "form-control", placeholder: ". . ."   %>
    </div>

    <div class="form-group">
       <%= f.label :bio %>
       <%= f.text_area :bio, class: "form-control", rows: 10  %>
    </div>

    <%= f.submit (@artist.new_record? ? "Create" : "Update"), class: "form-control btn-primary" %>

<% end %>
