<%= form_for @song do |f| %>

    <%= f.hidden_field :artist_id, :value => @song.artist.id%>

    <div class="form-group">
       <%= f.label :title %>
       <%= f.text_field :title, class: "form-control", placeholder: ". . ." %>
    </div>

    <div class="form-group">
       <%= f.label :year %>
       <%= f.text_field :year, class: "form-control", placeholder: ". . ."   %>
    </div>

    <div class="form-group">
       <%= f.label :duration %>
       <%= f.text_field :duration, class: "form-control", placeholder: " . . ."   %>
    </div>

    <div class="form-group">
       <%= f.label :album %>
       <%= f.text_field :album, class: "form-control", placeholder: " . . ."   %>
    </div>

    <%= f.submit (@song.new_record? ? "Create" : "Update"), class: "form-control btn-primary" %>

<% end %>
